body {
    margin: 0px;
}

/* Splash Page */
#splash-page {
    height: 100vh;
}
#splash-bg-image {
    background-image: url("https://i.imgur.com/nnppg2f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    filter: blur(2px) grayscale(80%); /* Learned this CSS property from w3schools (https://www.w3schools.com/howto/howto_css_blurred_background.asp) */
    -webkit-filter: blur(2px) grayscale(80%);
}

#site-logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 35vw;
    min-width: 60%;
}

#splash-button {
    position: relative;
    top: 20%;
    margin: 0px 15px;
}

#enter-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(226, 169, 73); 
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}
#enter-button:hover {
    background-color: rgb(226, 169, 73);
    border: 2.5px solid rgb(228, 228, 228);
}

