body {
    margin: 0px;
}

/* Splash Page */
#splash-page {
    height: 100vh;
}
#splash-bg-image {
    background-image: url("https://i.imgur.com/nnppg2f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    filter: blur(2px) grayscale(80%); /* (add source for filter) Learned this CSS property from w3schools (https://www.w3schools.com/howto/howto_css_blurred_background.asp) */
    -webkit-filter: blur(2px) grayscale(80%);
}

#site-logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
}

#splash-button {
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    margin: 0px 15px;
}

#enter-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    background-color: rgb(226, 169, 73); 
    font-size: 1.3em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}
#enter-button:hover {
    background-color: rgb(226, 169, 73);
    border: 2.5px solid rgb(228, 228, 228);
}

/* Home Section */

#home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 70vh;
}

.home-image-day {
    background-image: url("https://i.imgur.com/1FsdaQ5.jpg");
}

.home-image-night{
    background-image: url("https://i.imgur.com/vCk7acS.jpg");
}
#time-select{
    position: relative;
    top: 82%; /* To be changed at breakpoints */
    left: 25%;
    width: 55vw;
    height: auto;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    text-align: center;
}

#home p {
    margin: 0px;
    font-size: 4vw;
    color: black;
}

#time-button {
    font-size: 4vw;
    padding: 5px 15px;
}

#time-button:hover {
    border: 2px solid red;
}
.night-button{
    background-color: black;
    color: white;
}

.day-button {
    color: black;
    background-color: white;
}

/* Media Queries */

@media only screen and (min-width: 576px) {
    #site-logo{
        width: 47vw;
    }

    #enter-button{
        width: 60vw;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 768px) {
    #site-logo{
        width: 41vw;
    }
    #enter-button{
        width: 50vw;
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 992px) {
    #site-logo{
        width: 34vw;
    }
     #enter-button{
        width: 45vw;
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 1200px) {
    #site-logo{
        width: 28vw;
    }

     #enter-button{
        width: 45vw;
    }
}

@media only screen and (min-width: 1400px) {
    #site-logo{
        width: 25vw;
    }
     #enter-button{
        width: 35vw;
        font-size: 1.5em;
    }
}

