body {
    margin: 0px;
}

/* Splash Page */
#splash-page {
    height: 100vh;
}
#splash-bg-image {
    background-image: url("https://i.imgur.com/nnppg2f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    filter: blur(2px) grayscale(80%); /* (add source for filter) Learned this CSS property from w3schools (https://www.w3schools.com/howto/howto_css_blurred_background.asp) */
    -webkit-filter: blur(2px) grayscale(80%);
}

#site-logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
}

#splash-button {
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    margin: 0px 15px;
}

#enter-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    background-color: rgb(226, 169, 73); 
    font-size: 1.3em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}
#enter-button:hover {
    background-color: rgb(226, 169, 73);
    border: 2.5px solid rgb(228, 228, 228);
}

/* Navbar */
.navbar {
    padding: 0;
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2em;
}
nav img {
    width: 20vw;
    height: auto;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: black;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.4);
}
.navbar-toggler:focus{
    border: 2.5px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 0; /*overriding bootstrap default*/
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-collapse{
    max-height: 60vh;
    overflow: overlay;
}

/* Home Section */

#home-image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.home-image-day {
    background-image: url("https://i.imgur.com/1FsdaQ5.jpg");
}

.home-image-night{
    background-image: url("https://i.imgur.com/vCk7acS.jpg");
}
#time-select{
    position: absolute;
    bottom: 20px; 
    left: 25%;
    width: 55vw;
    height: auto;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    font-size: 1em;
    text-align: center;
}

#home-image p {
    margin: 0px;
    color: black;
}

#time-button {
    padding: 5px 15px;
}

#time-button:hover {
    border: 2px solid red;
}
.night-button{
    background-color: black;
    color: white;
}

.day-button {
    color: black;
    background-color: white;
}

#home h1 {
    text-align: center;
    font-size: 5vw;
    margin: 15px 0px;
}

#home-content p{
    padding: 0px 10px;
    text-align: center;
    font-size: 3vw;
}

/* Attractions */

#attractions-image {
    position: relative;
    background-attachment: fixed; /* Code from w3schools. Source: https://www.w3schools.com/howto/howto_css_parallax.asp */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
}

.attractions-image-day {
    background-image: url("https://i.imgur.com/4rr5Kgl.jpg");
}

.attractions-image-night{
    background-image: url("https://i.imgur.com/LmWAgSf.jpg");
}


/* Media Queries */

@media only screen and (min-width: 576px) {
    #site-logo{
        width: 47vw;
    }

    #enter-button{
        width: 60vw;
        font-size: 1.2em;
    }

      /* Navbar*/
    .navbar-nav{
    font-size: 1.3em;
}

    nav img {
    width: 15vw;
}

    /*Home page*/
    #time-select{
        left: 50%;
        transform: translateX(-50%);
        width: 35vw;
        font-size: 1.1em
    }

    #time-button {
        padding: 5px 25px;
    }

    #home-content h1{
        font-size: 3vw;
    }

    #home-content p{
        font-size: 2vw;
    }

}

@media only screen and (min-width: 768px) {
    /*Splash page*/
    #site-logo{
        width: 41vw;
    }
    #enter-button{
        width: 50vw;
        font-size: 1.3em;
    }

    /* Navbar*/
     .navbar-nav{
        font-size: 1.2em;
    }

    nav img {
        width: 10vw;
    }

    .nav-item{
        margin: 0px 3px;
    }

    .navbar-collapse{
    overflow: initial; /*remove scroll bar*/
}

    /*Home page*/
    #time-select{
        width: 30vw;
        font-size: 1.2em;
    }

      #home-content h1{
        font-size: 2.2vw;
    }

    #home-content p{
        font-size: 1.5vw;
    }

}

@media only screen and (min-width: 992px) {
    #site-logo{
        width: 34vw;
    }
     #enter-button{
        width: 45vw;
        font-size: 1.3em;
    }

    /*Navbar*/
    .navbar-nav{
        font-size: 1.2em!important;
    }

    .nav-item{
        margin: 0px 5px;
    }

    /*Home page*/
    #home-image{
        height: 80vh;
    }
    #time-select{
        width: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    #site-logo{
        width: 28vw;
    }

     #enter-button{
        width: 45vw;
    }

      /* Navbar*/
    nav img {
        width: 7vw;
    }

    .navbar-nav{
        font-size: 1.3em!important;
    }

    .nav-item{
        margin: 0px 10px;
    }

    /* Home page */
     #home-content h1{
        font-size: 2vw;
    }

    #home-content p{
        font-size: 1.2vw;
    }
    
}

@media only screen and (min-width: 1400px) {
    #site-logo{
        width: 25vw;
    }
     #enter-button{
        width: 35vw;
        font-size: 1.5em;
    }

     /*Home page*/
    #time-select{
        width: 400px;
        font-size: 1.5em;
    }

     #home-content h1{
        font-size: 2.2em;
    }

    #home-content p{
        font-size: 1.3em;
    }
}

